# 参考的学习资料-未来一般是LangChain+LangGraph这两个框架
Agent-with-RAG-and-Long-Term-Memory/
VideoCode/

# 忽略的虚拟环境
.vscode/

*.venv/

*.word
*.pdf
*.csv
*.egg-info/
# mcp备份
backup/
# 忽略的日志文件
*.log

# 向量数据库信息

# 测试代码
go_test/
my_lab/
__pycache__/

# 忽略的证书或者密钥文件
*.crt 
*.key
